<form (submit)="loginEmployee($event)">
  <div class="container">
    <div>
      <input type="text" autocomplete="off" placeholder="Username" id="username">
    </div>
    <div>
      <input type="password" autocomplete="off" placeholder="Password" id="password">
    </div>
    <div>
      <button type="submit" id="submit">Submit</button>
    </div>
    <div id="signup">
      <p>
          Dont' have an account yet? 
          <a routerLink="/signup" class="button">Sign up!</a>
      </p>
    </div>
  </div>
</form>