<h3>View Room Information to Complete Check-in</h3>
<div><p style="font-size: 8px;margin: 0 auto 15px;width: fit-content;">*Check-in process will not be completed unless room information has been displayed.*</p></div>
<form (submit)="viewRoomInformation($event)">
    <button type="submit">View Room Information</button>
</form>

<div>
  <div class="cardbox" *ngIf="roomInfo">
    <div class="card">
      <p>Room number: {{roomInfo.roomNumber}}</p>
      <p>No. of beds: {{roomInfo.numberOfBeds}}</p>
      <p>Price: {{roomInfo.price}}</p>
      <p>Duration: {{roomInfo.duration}}</p>
    </div>
  </div>
</div>
