form {
    display: block;
    width: 300px;
    height: 200px;
    padding: 10px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
    margin: 50px auto;
}
h4 {
    margin: 30px auto;
}
#check-in, #check-out {
    display: block;
    margin: 25px auto;
}
[type="submit"] {
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    background: black;
    border: 1px solid black;
    text-decoration: none;
    display: block;
    margin: auto;
    font-size: larger;
    cursor: pointer;
}
.cardbox {
    display: inline-block;
    width: 20%;
}
.card {
    display: block;
    width: 75%;
    margin: 20px auto;
    padding: 15px;
}
#snackbar {
    visibility: hidden;
    min-width: 450px;
    margin-left: -225px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
