h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

button {
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    background: black;
    border: 1px solid black;
    text-decoration: none;
    display: block;
    margin: auto;
    font-size: larger;
    cursor: pointer;
    a {
        text-decoration: none;
        color: inherit;
    }
}