<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Natural Reservation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/employee">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/roomstatus">Room Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pay">Pay Bill</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/popular-rooms">Trending Rooms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/view-dirty-rooms">Dirty Rooms <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/checkedincust">Show Customers</a>
      </li>
    </ul>
  </div>
</nav>
<form (submit)="getDirtyRooms($event)">
  <div class="container">
    <h4>What rooms need to be cleaned?</h4>
    <div>
      <button (click)="myFunction($event)" type="submit" id="submit">View Dirty Rooms</button>
    </div>
  </div>
</form>
<div id="snackbar">{{dirtyRooms.length}} rooms need to be cleaned</div>
<div>
  <div class="cardbox" *ngFor="let item of dirtyRooms">
    <div class="card">
      <p>Room number: {{item.roomNumber}}</p>
      <p>No. of beds: {{item.numberOfBeds}}</p>
      <p>Assigned to: {{item.firstName}} {{item.lastName}}</p>
      <!-- <a [routerLink]="item.roomNumber">See detail</a> -->
      <button (click)="cleanRoom($event, item.roomNumber)" type="submit">Clean Room</button>
    </div>
  </div>
</div>