<p>
  listcust works!
</p>
<div class="container" id="datepick">
  <form (submit)="chooseDate($event)" name="chooseDateForm">
    <div class="container">
      <h4>Choose Date:</h4>
      <div>
        <input type="date" autocomplete="off" id="checkInDate">
    </div>
        <div>
          <button (click)="showList()" type="submit" id="submit">Submit</button>
        </div>
      </div>
  </form>
</div>
<div id="list" style="display: none;">
  <div class="cardbox" *ngFor="let customer of customers">
    <div class="card">
      <p>First Name: {{customer.firstName}}</p>
      <p>Last Name: {{customer.lastName}}</p>
      <p>Check out date: {{customer.checkOutDate}}</p>
      <!-- <a [routerLink]="item.roomNumber">See detail</a> -->

    </div>
  </div>
</div>