<h1>Customer List under Check-In Date</h1>
<div class="container" id="datepick">
  <form (submit)="chooseDate($event)" name="chooseDateForm">
    <div class="container">
      <h4>Choose Date:</h4>
      <div>
        <input type="date" autocomplete="off" id="checkInDate">
    </div>
        <div>
          <button (click)="showList()" type="submit" id="submit">Submit</button>
        </div>
      </div>
  </form>
</div>
<div id="list" style="display: none;">
  <div class="cardbox" *ngFor="let customer of customers" style="display:inline-block;min-width:calc(33.33% - 20px);margin:10px;padding:10px;box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);">
    <div class="card">
      <p>First Name: {{customer.firstName}}</p>
      <p>Last Name: {{customer.lastName}}</p>
      <p>Check-out date: {{customer.checkOutDate}}</p>
      <!-- <a [routerLink]="item.roomNumber">See detail</a> -->

    </div>
  </div>
</div>