<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Natural Reservation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/employee">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/roomstatus">Room Status</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/pay">Pay Bill <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/popular-rooms">Trending Rooms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/view-dirty-rooms">Dirty Rooms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/checkedincust">Show Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/checkout-checkin">Check In/Out</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/update-profile">Update Profile</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/view-reservations">View Reservation</a>
      </li>
    </ul>
  </div>
  <app-logout></app-logout>
</nav>
<div class="divider">
  <h3 align="center">Select payment method</h3>
</div>

<div class="container" style="width: 50%;">
  <div class="divider"></div>
  <button (click)="creditCardPayment()" type="button" id="creditCard" name="paymentType" class="button">Credit Card</button>
  <div class="divider"></div>
  <button (click)="cashPayment()" type="button" id="cash" name="paymentType" class="button">Cash</button>
</div>

<div class="divider"></div>
<form (submit)="onSubmit($event)">
  <div>
    <label for="bid" *ngIf="isCreditCard || isCash" class="divider">
          Enter your Bill ID:
          <input type="text" id="bid" placeholder="1234" pattern="[0-9]*">
      </label>
  </div>

  <label for="creditCardPayment" *ngIf=isCreditCard class="divider">
      <p>Name as it appears on the card:
        <input type="text" id="cardHolderName" placeholder="John Appleseed" pattern="[A-Za-z]* [A-Za-z]*" required>
      </p>
      <p>Credit card number:
        <input type="text" id="creditCardNumber" placeholder="1234567812345678" pattern="[0-9]{16}" required>
      </p>
      <p>Expirary:
        <input type="text" id="expirary" placeholder="MM/DD" pattern="[0-9][0-9]/[0-9][0-9]" required>
      </p>
      <p>SVC:
        <input type="text" id="svc" placeholder="123" pattern="[0-9]{3}" required>
      </p>
    </label>

  <div>
    <label for="amount" *ngIf="isCreditCard || isCash" class="divider">
        Enter the amount you wish to pay:
        <input type="text" id="amount" placeholder="99" pattern="[0-9]*">
      </label>
  </div>

  <div class="divider" id="submitdiv" style="display:none;">
    <button type="submit" name="submit" class="btn btn-dark">Submit</button>
  </div>
</form>