h1, h2, h3, h4, h5, h6, p, .container * {
    text-align: center;
}
form, .wrapper {
    display: block;
    padding: 10px;
    margin: auto;
}
h4 {
    margin: 30px auto;
}
.wrapper {
    width: 500px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
}
#check-in, #fname, #lname, #phonenum {
    display: block;
    margin: auto;
}
#submit {
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    background: black;
    border: 1px solid black;
    text-decoration: none;
    display: block;
    margin: 30px auto;
    font-size: larger;
}