<div class="wrapper">
  <h3>Room Details 🛏️</h3>
  <p>Room number: {{room.roomnum}}</p>
  <p>Number of beds: {{room.nobeds}}</p>
  <p>${{room.price}}</p>
  <form (submit)="reserve($event)">
    <div class="container">
      <div>
        Check-in date: <input type="date" autocomplete="off" id="check-in">
        <br>
        First name: <input type="text" id="fname">
        <br>
        Last name: <input type="text" id="lname">
        <br>
        Phone number: <input type="tel" id="phonenum">
      </div>
      <div>
        <button type="submit" id="submit">Submit</button>
      </div>
    </div>
  </form>
</div>