<app-logout></app-logout>
<h1> Welcome to the Employees' Site! </h1>
<h2>(And YES, you can access to data that customers won't know)</h2>

<h3><a  routerLink="/roomstatus">Check Rooms' Status</a></h3>
<h3><a  routerLink="/checkedincust">Get List of Customer Check In</a></h3>
<h3><a routerLink="/pay">Process Bill Payment</a></h3>
<h3><a routerLink="/popular-rooms">View Trending Rooms</a></h3>
<h3><a routerLink="/view-dirty-rooms">View List of Rooms to be Cleaned</a></h3>
<h3><a routerLink="/checkout-checkin">Check-in/Check-out Customer</a></h3>
