<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >Natural Reservation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/cust">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/rooms">Browse Rooms</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/update-profile">Update Profile</a>
      </li>
    </ul>
  </div>
  <app-logout></app-logout>
</nav>
<form (submit)="getRooms($event)">
  <div class="container">
    <h4>Check-in date here 😊</h4>
    <div>
      <input type="date" autocomplete="off" id="check-in">
      <input type="date" autocomplete="off" id="check-out">
    </div>
      <div>
        <button (click)="showSnackbar($event)" type="submit" id="submit">Submit</button>
      </div>
    </div>
</form>
<div id="snackbar">{{rooms.length}} rooms are available</div>
<div>
  <div class="cardbox" *ngFor="let item of rooms">
    <div class="card">
      <p>Room number: {{item.roomNumber}}</p>
      <p>No. of beds: {{item.numberOfBeds}}</p>
      <p>${{item.price}}</p>
      <!-- <a [routerLink]="item.roomNumber">See detail</a> -->
      <button (click)="reserve($event, item.roomNumber)" type="submit">Make reservation</button>
    </div>
  </div>
</div>