<form (submit)="getRooms($event)">
  <div class="container">
    <h4>Check-in date here 😊</h4>
    <div>
      <input type="date" autocomplete="off" id="check-in">
    </div>
    <div>
      <button (click)="myFunction($event)" type="submit" id="submit">Submit</button>
    </div>
  </div>
</form>
<div id="snackbar">{{rooms.length}} rooms are available</div>
<div [hidden]="!toggle">
  <div class="cardbox" *ngFor="let item of rooms">
    <div class="card">
      <p>Room number: {{item.roomnum}}</p>
      <p>No. of beds: {{item.nobeds}}</p>
      <p>${{item.price}}</p>
      <a [routerLink]="item.roomnum">See detail</a>
    </div>
  </div>
</div>