<form (submit)="getRooms($event)">
  <div class="container">
    <h4>Check-in date here 😊</h4>
    <div>
      <input type="date" autocomplete="off" id="check-in">
      <input type="date" autocomplete="off" id="check-out">
    </div>
    <div>
      <button (click)="showSnackbar($event)" type="submit" id="submit">Submit</button>
    </div>
  </div>
</form>
<div id="snackbar">{{rooms.length}} rooms are available</div>
<div>
  <div class="cardbox" *ngFor="let item of rooms">
    <div class="card">
      <p>Room number: {{item.roomNumber}}</p>
      <p>No. of beds: {{item.numberOfBeds}}</p>
      <p>${{item.price}}</p>
      <!-- <a [routerLink]="item.roomNumber">See detail</a> -->
      <button (click)="reserve($event, item.roomNumber)" type="submit">Make reservation</button>
    </div>
  </div>
</div>